<div class="contents">
    <div class="title">
        <p>Por favor confirma tu asistencia</p>
    </div>
    <div class="description">
        <p>Será en Senderos de Guarari el proximo 7 de Enero.</p>
        <p>Revisá la ubicacion <a href="https://goo.gl/maps/okiMMFVyMuBD6MKp7" target="_blank">acá.</a></p>
        <form id="confirm-yes" action="confirm" method="post" >
            {% csrf_token %}
            <input type="hidden" name="id" value="{{guest.id}}">
            <input type="hidden" name="confirmed" value="Y">
            <input type="submit"  id="confirmed-input-yes"  value="Sí" {% if guest.confirmed == 'Y'%}class="selected"{% endif %}></input>
        </form>
        <form id="confirm-no" action="confirm" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{guest.id}}">
            <input type="hidden" name="confirmed" value="N">
            <input type="submit" id="confirmed-input-no"  value="No voy a poder ir :("{% if guest.confirmed == 'N'%}class="selected"{% endif %}></input>
        </form>
    </div>
</div>