{% load static %}

<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}/sitesapp/{{sitetheme}}/style.css"> 
<title>David y Hellen, nos casamos!</title>
<meta name="description" content="Queremos invitarte a nuestra boda" />
<meta property="og:title" content="David y Hellen, nos casamos!" />
<meta property="og:image" content="{% get_static_prefix %}/sitesapp/img/hellenydavid.jpeg">


{% if sections %}
<div id="main_container"> {% for section in sections %}
    <div id="{{ section.name }}" class="section {% if section.id == 1 %}visible{% else %}hidden{% endif %}">
        {% with "sitesapp/sections/"|add:section.renderer.name|add:"/"|add:section.renderer.templatePath as template %}
        {% include template %}
        {% endwith %}
    </div>
    {% endfor %}
</div>
{% else %}
<p>No se han agregado secciones.</p>
{% endif %}
<script src="{% get_static_prefix %}/sitesapp/{{sitetheme}}/script.js"> </script>